---
// Importar el layout
import Layout from './../../layouts/Layout.astro'

const fetchMovies = async () => {
    let peliculas;
    try {
        const response = await fetch('http://127.0.0.1:8000/api/movie');
        if (!response.ok) {
            console.log("Hubo un error con la petición");
        } else {
            peliculas = await response.json();
        }
    } catch (error) {
        console.error('Error en la solicitud fetch:', error);
    }
    return peliculas;
};

const {data} = await fetchMovies();
console.log(data)
---

<Layout title='Peliculas'>
    <main class="w-full flex flex-col gap-7 overflow-auto-y pl-7 pr-14 py-2">
       <div class="w-full flex justify-between">
            <input type="text"
            name="" id="" placeholder="Buscar peliculas" class="bg-transparent outline-none border-b text-white px-2 border-b-zinc-400">
            <select name="" id="" class="bg-[#020617] outline-none text-zinc-400 px-2">
                <option value="">Todas las peliculas</option>
                <option value="">Mas populares</option>
                <option value="">Recientes</option>
            </select>
       </div>
       
       <div class="flex flex-wrap gap-4">
           {data.length > 0 ? (
                data.map((pelicula) => (
                <a href={`peliculas/Details/${pelicula.id}`} class=" relative bg-zinc-800 text-white rounded-lg w-60">
                    <div class="p-2 absolute bg-gradient-to-b from-black/60 w-full ">
                        <h3 class=" text-lg font-medium">{pelicula.name}</h3>
                        <p class="text-sm text-zinc-500">{pelicula.releaseDate}</p>
                    </div>
                    <div> 
                        <img src={pelicula.image} alt="Imagen de la pelicula" class="w-30" />
                    </div>
                </a>
                ))
           ) : (
                <p class="text-white">No se encontraron películas</p>
           )}
       </div>
    </main>
</Layout>

